# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=

LIT_PRIVATE_KEY= 
LIT_PKP_PUBLIC_KEY=

RANDOMNESS_SEQUENCER_CONTRACT_ADDRESS=
RANDOM_CONTRACT_ADDRESS=

APPCHAIN_CHAIN_ID=
APPCHAIN_RPC_URL=
SEQUENCING_CHAIN_ID=
SEQUENCING_CHAIN_RPC_URL=

DRAND_API_URL=
