# Deployer for RandomnessSequencer.sol, Random.sol
DEPLOYER_PRIVATE_KEY=
# SyndicateSequencingChain.sol
SEQUENCING_CONTRACT_ADDRESS=
# Lit PKP address: Writes randomness to RandomSequencer.sol & Random.sol
RANDOM_ADMIN=
# Syndicate sequencer on RandomnessSequencer.sol
SEQUENCER_ADMIN=
# Address for setting function selectors on RandomnessSequencer.sol
FUNCTION_SELECTOR_ADMIN=
# DEFAULT_ADMIN_ROLE for RandomnessSequencer.sol
RANDOMNESS_SEQUENCER_DEFAULT_ADMIN=

# DEFAULT_ADMIN_ROLE on Random.sol
RANDOM_DEFAULT_ADMIN=

# Random.sol
RANDOM_CONTRACT_ADDRESS=

# RandomnessSequencer.sol contract address
RANDOMNESS_SEQUENCER_CONTRACT_ADDRESS=
# FUNCTION_SELECTOR_ADMIN PK
FUNCTION_SELECTOR_ADMIN_PRIVATE_KEY=
# Target contract address & function signature for triggering random
TARGET_CONTRACT_ADDRESS=
TARGET_FUNCTION_SIGNATURE=
# AllowlistPermissionModule owner pk
ALLOWLIST_PERMISSION_MODULE_OWNER_PRIVATE_KEY=
# AllowlistPermissionModule.sol contract address
ALLOWLIST_PERMISSION_MODULE_ADDRESS=

RANDOMNESS_SEQUENCER_DEFAULT_ADMIN_PRIVATE_KEY=
RANDOM_DEFAULT_ADMIN_PRIVATE_KEY=
# Appchain RPC
APPCHAIN_RPC_URL=
# Sequencing chain RPC
SEQUENCING_CHAIN_RPC_URL=
